*{ /* sets 0 margin and 0 padding on everything */
	margin: 0; 
	padding: 0; 
}

h1, h2, h3, h4, h5, h6, p, blockquote,
 form, label, ul, ol, dl, fieldset, address {
    margin-bottom: .5em;
}

hr{
color:red;
background-color:red;
height:2px;
text-align:center;
}

ol {
margin-left:2em;
}

td {
padding:4px;
}

table {
height:auto;
width:100%;
text-align:center;
vertical-align:middle;
setTimeout(function(){display:block;}, 10);
}


body {
height:100%;
font-size:100%;
font-family:arial, Times, sans-serif;
text-align:center;
background-image:url('/web/20180815130318im_/http://ampyro.com/images/stars3.jpg');
background-repeat:repeat;
}

html {
height:100%;
}


#current {
display:block;
position: relative;
font-weight:bold;
font-size:1.2em;
font-style:italic;
background-color:#FFD700;
background-image:none;
}

.button {
background-color:white;
text-align:left;
position: relative;
display: block; 
border-style: solid;
border-width: 2px;
padding: 10px 5px;
border-color: #aaa #000 #000 #aaa;

}

.button:hover {
margin-top: 2px;
margin-left: 2px;
font-weight:bold;
border-color: #000 #aaa #aaa #000;
}

.box a:hover, #links a:hover, .lable a:hover{
font-weight:bold;
}


#rmenu a img:hover{
margin-top: 1px;
margin-left: 3px;
margin-bottom:-1px;
border-color: #000 #aaa #aaa #000;
}  /* mouse over link */



.box a img:hover{
display:block;
position:relative;
margin-top: 1px;
margin-left: 1px;
border-color: #000 #aaa #aaa #000;
}  /* mouse over link */

td a img:hover{
display:block;
position:relative;
margin-top: 1px;
margin-left: 1px;
margin-bottom: 2px;
margin-right: -1px;
border-color: #000 #aaa #aaa #000;
}  /* mouse over link */



a img{
border: 1px solid;
border-color: #aaa #000 #000 #aaa;
}

.imghover img{
border: 1px solid;
border-color: #aaa #000 #000 #aaa;
margin:5px;
}

.imghover img:hover{
border-color: #000 #aaa #aaa #000;
margin-left:6px;
margin-top:6px;
margin-right:4px;
margin-bottom:4px;
}

.grad {
background-image:url('/web/20180815130318im_/http://ampyro.com/grad.jpg');
background-position:left center;
background-repeat:repeat-x;
}


.box {
text-align: left;
border-width: 1px;
border-style: solid;
border-color: black;
background-color:white;
display:inline-block;
position:relative;
margin: 10px 30px;
padding:10px 5px;
font-size:1.1em;

}

.lable {
display:block;
width:75%;
margin:auto;
text-align:center;
font-size:1.25em;
border-style: solid;
border-width: 1px;
border-color:black;
background-image:url('/web/20180815130318im_/http://ampyro.com/grad.jpg');
background-position:left center;
background-repeat:repeat-x;
background-color:white;
padding:5px;
}

.center{
display:block;
text-align:center;
margin:auto;
}

.center2{
text-align:center;
margin:auto;
border-style: solid;
border-width: 1px;
border-color:red;
}





.hlist, .hlist li{
font-size:.9em;
display:inline;
list-style-type: none;
background-color:white;
}

#topstuff {
width:100%;
}




#menu {
float:left;
/*min-width:100px;*/
font-weight:bold;
width:12%;
margin-left: -100%;
text-align: left;
font-size:.9em;
z-index:2;
display:inline-block;
}

#menu ul, #links ul {
list-style: none;
margin-bottom:0px;
}

#menu li, #links li {
display: block;
padding: 10px 5px;
border: 1px solid;
border-color: #aaa #000 #000 #aaa;
margin-bottom:0px;
}

#menu li a, #links li a{
display: block;
}





#menu li:hover, #links li:hover
{
margin-top: 1px;
margin-left: 1px;
margin-bottom:0px;
border-color: #000 #aaa #aaa #000;
} 

#menu a span, #links a span {
display:block;
line-height: 200%;
}



#wrapper{
float: left;
width: 100%;
text-align: center;
}

#content-wrapper {
float: left;
width: 100%;
}


#content {
margin: 0 12% 0 12%;
/* Margins for content column. Should be #right width 0 #left width */
float:left;
background-image:url('/web/20180815130318im_/http://ampyro.com/photos/product/StoneCanyon.jpg');
background-attachment: fixed;
background-repeat: no-repeat; 
background-position: 50% 0%;
font-size:.8em;
background-color:white;
}



#rmenu {
/*min-width:100px;*/
width:12%;
margin-left: -12%; /* Set margin to that of -(RightColumnWidth)*/
text-align: center;
font-size:.9em;
float:left;
z-index:2;
}

.inside {
border-style: solid;
border-width: 1px;
border-color: black;
}


.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(/web/20180815130318im_/http://ampyro.com/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(/web/20180815130318im_/http://ampyro.com/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/*
     FILE ARCHIVED ON 13:03:18 Aug 15, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:09:17 Jul 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.755
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.019
  esindex: 0.015
  cdx.remote: 73.794
  LoadShardBlock: 198.166 (3)
  PetaboxLoader3.datanode: 262.254 (5)
  load_resource: 444.823 (2)
  PetaboxLoader3.resolve: 289.492 (2)
*/